examples/rent-a-car/crmservice/common/src/main/resources/model/crmservice-wsdls/CRMService-sts.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

 Copyright (c) 2011 Talend Inc. - www.talend.com
 All rights reserved.

 This program and the accompanying materials are made available
 under the terms of the Apache License v2.0
 which accompanies this distribution, and is available at
 http://www.apache.org/licenses/LICENSE-2.0

 -->
<definitions targetNamespace="http://services.talend.org/CRMService"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:crm="http://services.talend.org/crm/types"
  xmlns:jms="http://schemas.xmlsoap.org/wsdl/jms/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://services.talend.org/CRMService"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:wsp="http://www.w3.org/ns/ws-policy"
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
  xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
  xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
  xmlns:wsaw="http://www.w3.org/2005/08/addressing"
  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
  <types>
    <xsd:schema elementFormDefault="unqualified"
      targetNamespace="http://services.talend.org/crm/types" xmlns="http://services.talend.org/crm/types">
      <xsd:element name="CustomerDetails" type="crm:CustomerDetailsType"/>
      <xsd:element name="LoginUser" type="crm:LoginUserType"/>
      <xsd:element name="RYLCStatus" type="crm:RYLCStatusType"/>
      <xsd:complexType name="LoginUserType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string"/>
          <xsd:element minOccurs="0" name="username" type="xsd:string"/>
          <xsd:element minOccurs="0" name="email" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CustomerDetailsType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="city" type="xsd:string"/>
          <xsd:element minOccurs="0" name="email" type="xsd:string"/>
          <xsd:element minOccurs="0" name="gender" type="xsd:string"/>
          <xsd:element name="id" type="xsd:long"/>
          <xsd:element minOccurs="0" name="name" type="xsd:string"/>
          <xsd:element minOccurs="0" name="status" type="crm:CRMStatusType"/>
          <xsd:element minOccurs="0" name="street" type="xsd:string"/>
          <xsd:element minOccurs="0" name="username" type="xsd:string"/>
          <xsd:element minOccurs="0" name="zip" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="CRMStatusType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="NONE"/>
          <xsd:enumeration value="NORMAL"/>
          <xsd:enumeration value="GOLD"/>
          <xsd:enumeration value="PLATINUM"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="RYLCStatusType">
        <xsd:sequence>
            <xsd:element name="customerId" type="xsd:long" />
            <xsd:element name="code" type="crm:RYLCStatusCodeType" />
            <xsd:element name="creditPoints" type="xsd:integer" />
            <xsd:element name="description" type="xsd:string" minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="RYLCStatusCodeType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="ACTIVE"/>
          <xsd:enumeration value="INACTIVE"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </types>
  <message name="getCRMInformationRequest">
    <part element="crm:LoginUser" name="body"/>
  </message>
  <message name="getCRMInformationResponse">
    <part element="crm:CustomerDetails" name="body"/>
  </message>
  <message name="getCRMStatusRequest">
    <part element="crm:CustomerDetails" name="body"/>
  </message>
  <message name="getCRMStatusResponse">
    <part element="crm:RYLCStatus" name="body"/>
  </message>
  <message name="updateCRMStatusRequest">
    <part element="crm:RYLCStatus" name="body"/>
  </message>
  <portType name="CRMService">
    <operation name="getCRMInformation">
      <input message="tns:getCRMInformationRequest"/>
      <output message="tns:getCRMInformationResponse"/>
    </operation>
    <operation name="getCRMStatus">
      <input message="tns:getCRMStatusRequest"/>
      <output message="tns:getCRMStatusResponse"/>
    </operation>
    <operation name="updateCRMStatus">
      <input message="tns:updateCRMStatusRequest"/>
    </operation>
  </portType>
    <wsdl:binding name="localhostBinding" type="tns:CRMService">
    <wsp:PolicyReference URI="#CRMServiceBindingAsymmetricSAML2Policy"/>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCRMInformation">
      <soap:operation soapAction="getCRMInformation"/>
      <wsdl:input>
        <soap:body use="literal"/>
		<wsp:PolicyReference URI="#CRMServiceBinding_CRMService_Input_Policy"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
		<wsp:PolicyReference URI="#CRMServiceBinding_CRMService_Output_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCRMStatus">
      <soap:operation soapAction="getCRMStatus"/>
      <wsdl:input>
        <soap:body use="literal"/>
		<wsp:PolicyReference URI="#CRMServiceBinding_CRMService_Input_Policy"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
		<wsp:PolicyReference URI="#CRMServiceBinding_CRMService_Output_Policy"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCRMStatus">
      <soap:operation soapAction="updateCRMStatus"/>
      <wsdl:input>
        <soap:body use="literal"/>
		<wsp:PolicyReference URI="#CRMServiceBinding_CRMService_Input_Policy"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="CRMServiceProvider">
    <wsdl:port binding="tns:localhostBinding" name="CRMServiceProvider">
		<soap:address location="http://localhost:${tesb.port}/services/CRMServiceProvider/"/>
	</wsdl:port>
  </wsdl:service>
  
 <wsp:Policy wsu:Id="CRMServiceBindingAsymmetricSAML2Policy">
      <wsp:ExactlyOne>
         <wsp:All>
            <wsam:Addressing wsp:Optional="false">
               <wsp:Policy/>
            </wsam:Addressing>
            <sp:AsymmetricBinding>
               <wsp:Policy>
                  <sp:InitiatorToken>
                     <wsp:Policy>
                        <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                           <sp:RequestSecurityTokenTemplate>
                              <t:TokenType>http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV2.0</t:TokenType>
                              <t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/PublicKey</t:KeyType>
                           </sp:RequestSecurityTokenTemplate>
                           <wsp:Policy>
                              <sp:RequireInternalReference/>
                           </wsp:Policy>
                           <sp:Issuer>
                              <wsaw:Address>http://localhost:9081/sts/SecurityTokenService</wsaw:Address>
                              <wsaw:Metadata>
                                 <wsx:Metadata>
                                    <wsx:MetadataSection>
                                       <wsx:MetadataReference>
                                          <wsaw:Address>http://localhost:9081/sts/SecurityTokenService/mex</wsaw:Address>
                                       </wsx:MetadataReference>
                                    </wsx:MetadataSection>
                                 </wsx:Metadata>
                              </wsaw:Metadata>
                           </sp:Issuer>
                        </sp:IssuedToken>
                     </wsp:Policy>
                  </sp:InitiatorToken>
                  <sp:RecipientToken>
                     <wsp:Policy>
                        <sp:X509Token
                           sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                           <wsp:Policy>
                              <sp:WssX509V3Token10 />
                              <sp:RequireIssuerSerialReference />
                           </wsp:Policy>
                        </sp:X509Token>
                     </wsp:Policy>
                  </sp:RecipientToken>
                  <sp:Layout>
                     <wsp:Policy>
                        <sp:Lax/>
                     </wsp:Policy>
                  </sp:Layout>
                  <sp:IncludeTimestamp/>
                  <sp:OnlySignEntireHeadersAndBody/>
                  <sp:AlgorithmSuite>
                     <wsp:Policy>
                        <sp:Basic256/>
                     </wsp:Policy>
                  </sp:AlgorithmSuite>
               </wsp:Policy>
            </sp:AsymmetricBinding>
            <sp:Wss11>
               <wsp:Policy>
                  <sp:MustSupportRefIssuerSerial/>
                  <sp:MustSupportRefThumbprint/>
                  <sp:MustSupportRefEncryptedKey/>
               </wsp:Policy>
            </sp:Wss11>
            <sp:Trust13>
               <wsp:Policy>
                  <sp:MustSupportIssuedTokens/>
                  <sp:RequireClientEntropy/>
                  <sp:RequireServerEntropy/>
               </wsp:Policy>
            </sp:Trust13>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>
      <wsp:Policy wsu:Id="CRMServiceBinding_CRMService_Input_Policy">
      <wsp:ExactlyOne>
         <wsp:All>
            <sp:SignedParts>
               <sp:Body/>
               <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
               <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
               <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
               <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
               <!--CXF uses by default for the docs/200702 ones: Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/-->
            </sp:SignedParts>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>
   <wsp:Policy wsu:Id="CRMServiceBinding_CRMService_Output_Policy">
      <wsp:ExactlyOne>
         <wsp:All>
            <sp:SignedParts>
               <sp:Body/>
               <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
               <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
               <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
               <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
            </sp:SignedParts>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>
</definitions>
