locator-sample-tomcat/WebContent/wsdl/greeterimpl_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://talend.org/esb/examples/" elementFormDefault="unqualified" targetNamespace="http://talend.org/esb/examples/" version="1.0">
<xs:element name="greetMe" type="tns:greetMe"/>
<xs:element name="greetMeResponse" type="tns:greetMeResponse"/>
<xs:complexType name="greetMe">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="greetMeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
