sam/Dummy/DummyClient/src/main/resources/wsdl/CaseService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.zurich.ch/incurancecase/CaseService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CaseService"
	xmlns:data="http://www.zurich.ch/data"
	targetNamespace="http://www.zurich.ch/incurancecase/CaseService">
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="http://www.zurich.ch/incurancecase/CaseService" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://www.zurich.ch/data" schemaLocation="data.xsd"/>
			<element name="addCaseFault">
				<complexType>
					<sequence>

						<element name="addCaseFault" type="string"></element>
					</sequence>
				</complexType>
			</element>
			<element name="ping">
				<complexType>
					<sequence>

						<element name="in" type="string"></element>
					</sequence>
				</complexType>
			</element>
			<element name="pingResponse">
				<complexType>
					<sequence>

						<element name="out" type="string"></element>
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>
	<wsdl:message name="addCaseRequest">
		<wsdl:part element="data:addCase" name="parameters" />
	</wsdl:message>
	<wsdl:message name="addCaseResponse">
		<wsdl:part element="data:addCaseResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="addCaseFault">
		<wsdl:part name="parameters" element="tns:addCaseFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="pingRequest">
		<wsdl:part name="parameters" element="tns:ping"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="pingResponse">
		<wsdl:part name="parameters" element="tns:pingResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CasePort">
		<wsdl:operation name="addCase">
			<wsdl:input message="tns:addCaseRequest" />
			<wsdl:output message="tns:addCaseResponse" />
            <wsdl:fault name="fault" message="tns:addCaseFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ping">
			<wsdl:input message="tns:pingRequest"></wsdl:input>
			<wsdl:output message="tns:pingResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CaseServiceSOAP" type="tns:CasePort">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="addCase">

			<soap:operation
				soapAction="http://www.zurich.ch/incurancecase/CaseService/addCase" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ping">
			<soap:operation
				soapAction="http://www.zurich.ch/incurancecase/CaseService/ping" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CaseService">
		<wsdl:port binding="tns:CaseServiceSOAP" name="CaseServiceSOAP">
			<soap:address location="http://localhost:8080/DummyService/services/CaseServiceSOAP" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
