sam/MonitoringService/MonitoringServiceWsImpl/src/main/resources/wsdl/FaultTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:pref="http://www.sopera.org/monitoring/2010/09/base" xmlns:tns="http://www.sopera.org/monitoring/2010/09/fault" elementFormDefault="qualified" targetNamespace="http://www.sopera.org/monitoring/2010/09/fault">
	<import namespace="http://www.sopera.org/monitoring/2010/09/base" schemaLocation="BaseTypes.xsd"/>
	<complexType name="faultType">
		<sequence>
			<element name="faultCode" type="pref:string256"/>
			<element name="faultMessage" type="string"/>
			<element name="stackTrace" type="string"/>
		</sequence>
	</complexType>
</schema>
