org.talend.esb.crmservice.provider/src/CRMService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
		Copyright (c) 2008 SOPERA GmbH All rights reserved. This program and
		the accompanying materials are made available under the terms of the
		Eclipse Public License v1.0 which accompanies this distribution, and
		is available at http://www.eclipse.org/legal/epl-v10.html
	-->
<definitions targetNamespace="http://services.sopera.org/CRMService"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:crm="http://services.sopera.org/crm/types"
  xmlns:isdx="http://services.sopera.org/CRMService"
  xmlns:jms="http://schemas.xmlsoap.org/wsdl/jms/"
  xmlns:sdx="http://types.sopera.org/service/ServiceDescription/2.0"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://services.sopera.org/CRMService"
  xmlns:tns0="http://services.sopera.org/CRMService"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <types>
    <xsd:schema elementFormDefault="unqualified"
      targetNamespace="http://services.sopera.org/crm/types" xmlns="http://services.sopera.org/crm/types">
      <xsd:element name="CustomerDetails" type="crm:CustomerDetailsType"/>
      <xsd:element name="LoginUser" type="crm:LoginUserType"/>
      <xsd:element name="RYLCStatus" type="crm:RYLCStatusType"/>
      <xsd:complexType name="LoginUserType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string"/>
          <xsd:element minOccurs="0" name="username" type="xsd:string"/>
          <xsd:element minOccurs="0" name="email" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CustomerDetailsType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="city" type="xsd:string"/>
          <xsd:element minOccurs="0" name="email" type="xsd:string"/>
          <xsd:element minOccurs="0" name="gender" type="xsd:string"/>
          <xsd:element name="id" type="xsd:long"/>
          <xsd:element minOccurs="0" name="name" type="xsd:string"/>
          <xsd:element minOccurs="0" name="status" type="crm:CRMStatusType"/>
          <xsd:element minOccurs="0" name="street" type="xsd:string"/>
          <xsd:element minOccurs="0" name="username" type="xsd:string"/>
          <xsd:element minOccurs="0" name="zip" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="CRMStatusType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="NONE"/>
          <xsd:enumeration value="NORMAL"/>
          <xsd:enumeration value="GOLD"/>
          <xsd:enumeration value="PLATIN"/>
        </xsd:restriction>
      </xsd:simpleType>
	  <xsd:complexType name="RYLCStatusType">
		<xsd:sequence>
			<xsd:element name="customerId" type="xsd:long" />
			<xsd:element name="code" type="crm:RYLCStatusCodeType" />
			<xsd:element name="creditPoints" type="xsd:integer" />
			<xsd:element name="description" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	  </xsd:complexType>
      <xsd:simpleType name="RYLCStatusCodeType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="ACTIVE"/>
          <xsd:enumeration value="INACTIVE"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </types>
  <message name="getCRMInformationRequest">
    <part element="crm:LoginUser" name="body"/>
  </message>
  <message name="getCRMInformationResponse">
    <part element="crm:CustomerDetails" name="body"/>
  </message>
  <message name="getCRMStatusRequest">
    <part element="crm:CustomerDetails" name="body"/>
  </message>
  <message name="getCRMStatusResponse">
    <part element="crm:RYLCStatus" name="body"/>
  </message>
  <message name="updateCRMStatusRequest">
    <part element="crm:RYLCStatus" name="body"/>
  </message>
  <portType name="CRMService" sdx:status="design">
    <operation name="getCRMInformation">
      <input message="tns0:getCRMInformationRequest"/>
      <output message="tns0:getCRMInformationResponse"/>
    </operation>
    <operation name="getCRMStatus">
      <input message="tns0:getCRMStatusRequest"/>
      <output message="tns0:getCRMStatusResponse"/>
    </operation>
    <operation name="updateCRMStatus">
      <input message="tns0:updateCRMStatusRequest"/>
    </operation>
  </portType>
  <wsdl:service name="CRMServiceProvider">
    <wsdl:port binding="tns0:localhostBinding" name="localhost">
      <soap:address location="http://localhost:8888/soap/CRMServiceProvider/"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:binding name="localhostBinding" type="isdx:CRMService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCRMInformation">
      <soap:operation soapAction="getCRMInformation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCRMStatus">
      <soap:operation soapAction="getCRMStatus"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCRMStatus">
      <soap:operation soapAction="updateCRMStatus"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
</definitions>
