locator-proxy/locator-proxy-common/src/main/resources/model/locator-proxy-wsdl/LocatorProxyService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2011 Talend Inc. - www.talend.com All rights reserved. 
	This program and the accompanying materials are made available under the 
	terms of the Apache License v2.0 which accompanies this distribution, and 
	is available at http://www.apache.org/licenses/LICENSE-2.0 -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:lpx="http://schemas.talend.org/esb/2011/09/locator" xmlns:lps="http://webservices.talend.org/esb/locator_v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.talend.org/esb/locator_v1">
	<types>
		<xsd:schema elementFormDefault="unqualified" targetNamespace="http://schemas.talend.org/esb/2011/09/locator" xmlns="http://schemas.talend.org/esb/2011/09/locator" xmlns:wsa="http://www.w3.org/2005/08/addressing">
			<xsd:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="http://www.w3.org/2005/08/addressing/ws-addr.xsd"/>
			<xsd:element name="EndpointReferenceListType">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="false" type="wsa:EndpointReferenceType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="EndpointReferenceType" type="wsa:EndpointReferenceType">
			</xsd:element>
			<xsd:element name="InterruptionFaultDetail">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="InterruptionDetail" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ServiceLocatorFaultDetail">
				<xsd:complexType>
					<xsd:sequence>
							<xsd:element name="LocatorFaultDetail" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="registerEndpointRequest" type="lpx:registerEndpointRequestType"/>
			<xsd:complexType name="registerEndpointRequestType">
				<xsd:sequence>
					<xsd:element name="serviceName" type="xsd:QName"/>
					<xsd:element name="endpointURL" type="xsd:anyURI"/>
					<xsd:element name="properties" type="lpx:SLPropertiesType" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SLPropertiesType">
				<xsd:sequence>
					<xsd:element name="Entry" type="lpx:EntryType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="EntryType">
				<xsd:sequence>
					<xsd:element name="Value" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="key" type="xsd:string"/>
			</xsd:complexType>
			<xsd:element name="lookupEndpointRequest" type="lpx:lookupRequestType"/>
			<xsd:element name="lookupEndpointsRequest" type="lpx:lookupRequestType"/>
			<xsd:complexType name="lookupRequestType">
				<xsd:sequence>
					<xsd:element name="serviceName" type="xsd:QName"/>
					<xsd:element name="matcherData" type="lpx:MatcherDataType" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="MatcherDataType">
				<xsd:sequence>
					<xsd:element name="Entry" type="lpx:AssertionType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AssertionType">
				<xsd:sequence>
					<xsd:element name="Value" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
				<xsd:attribute name="key" type="xsd:string"/>
			</xsd:complexType>
			<xsd:element name="unregisterEndpointRequest" type="lpx:unregisterEndpointRequestType"/>
			<xsd:complexType name="unregisterEndpointRequestType">
				<xsd:sequence>
					<xsd:element name="serviceName" type="xsd:QName"/>
					<xsd:element name="endpointURL" type="xsd:anyURI"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="registerEndpointRequest">
		<part name="input" element="lpx:registerEndpointRequest"/>
	</message>
	<message name="unregisterEnpointRequest">
		<part name="input" element="lpx:unregisterEndpointRequest"/>
	</message>
	<message name="lookupEndpointRequest">
		<part name="input" element="lpx:lookupEndpointRequest"/>
	</message>
	<message name="lookupEndpointsRequest">
		<part name="input" element="lpx:lookupEndpointsRequest"/>
	</message>
	<message name="lookupEndpointResponse">
		<part name="return" element="lpx:EndpointReferenceType"/>
	</message>
	<message name="lookupEndpointsResponse">
		<part name="body" element="lpx:EndpointReferenceListType"/>
	</message>
	<wsdl:message name="InterruptedExceptionFault">
		<wsdl:part name="InterruptionFaultDetail" element="lpx:InterruptionFaultDetail"/>
	</wsdl:message>
	<wsdl:message name="ServiceLocatorFault">
		<wsdl:part name="ServiceLocatorFaultDetail" element="lpx:ServiceLocatorFaultDetail"/>
	</wsdl:message>
	<wsdl:message name="empty"/>
	<portType name="LocatorService_v1_0">
		<operation name="registerEndpoint">
			<input message="lps:registerEndpointRequest"/>
			<output message="lps:empty"/>
			<fault name="InterruptedExceptionFault" message="lps:InterruptedExceptionFault"/>
			<fault name="ServiceLocatorFault" message="lps:ServiceLocatorFault"/>
		</operation>
		<operation name="unregisterEnpoint">
			<input message="lps:unregisterEnpointRequest"/>
			<output message="lps:empty"/>
			<fault name="InterruptedExceptionFault" message="lps:InterruptedExceptionFault"/>
			<fault name="ServiceLocatorFault" message="lps:ServiceLocatorFault"/>
		</operation>
		<operation name="lookupEndpoint">
			<input message="lps:lookupEndpointRequest"/>
			<output message="lps:lookupEndpointResponse"/>
			<fault name="InterruptedExceptionFault" message="lps:InterruptedExceptionFault"/>
			<fault name="ServiceLocatorFault" message="lps:ServiceLocatorFault"/>
		</operation>
		<operation name="lookupEndpoints">
			<input message="lps:lookupEndpointsRequest"/>
			<output message="lps:lookupEndpointsResponse"/>
			<fault name="InterruptedExceptionFault" message="lps:InterruptedExceptionFault"/>
			<fault name="ServiceLocatorFault" message="lps:ServiceLocatorFault"/>
		</operation>
	</portType>
	<wsdl:binding name="LocatorServiceSoapBinding_v1_0" type="lps:LocatorService_v1_0">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="registerEndpoint">
			<soap:operation soapAction="registerEndpoint"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output/>
			<wsdl:fault name="InterruptedExceptionFault">
				<soap:fault name="InterruptedExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServiceLocatorFault">
				<soap:fault name="ServiceLocatorFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="unregisterEnpoint">
			<soap:operation soapAction="unregisterEnpoint"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output/>
			<wsdl:fault name="InterruptedExceptionFault">
				<soap:fault name="InterruptedExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServiceLocatorFault">
				<soap:fault name="ServiceLocatorFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="lookupEndpoint">
			<soap:operation soapAction="lookupEndpoint"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InterruptedExceptionFault">
				<soap:fault name="InterruptedExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServiceLocatorFault">
				<soap:fault name="ServiceLocatorFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="lookupEndpoints">
			<soap:operation soapAction="lookupEndpoints"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InterruptedExceptionFault">
				<soap:fault name="InterruptedExceptionFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServiceLocatorFault">
				<soap:fault name="ServiceLocatorFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LocatorService_v1_0">
		<wsdl:port name="LocatorServiceSoap" binding="lps:LocatorServiceSoapBinding_v1_0">
			<soap:address location="http://localhost:8040/services/ServiceLocatorProxyService"/>
		</wsdl:port>
	</wsdl:service>
</definitions>
