job/controller/src/test/data-service-authentication/service-bundle/src/main/resources/org/talend/esb/examples/DoubleIt.wsdl

<!--
    Copyright (C) 2011 Talend Inc. - www.talend.com
-->
<wsdl:definitions name="DoubleIt"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:di="http://examples.esb.talend.org/"
	xmlns:tns="http://examples.esb.talend.org/" xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
	xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsaw="http://www.w3.org/2005/08/addressing"
	xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" targetNamespace="http://examples.esb.talend.org/">

    <wsdl:types>
		<xsd:schema targetNamespace="http://examples.esb.talend.org/">
			<xsd:element name="execute">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="number" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="executeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="return" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="executeInput">
		<wsdl:part element="di:execute" name="parameters" />
	</wsdl:message>
	<wsdl:message name="executeOutput">
		<wsdl:part element="di:executeResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:portType name="DoubleItPortType">
		<wsdl:operation name="execute">
			<wsdl:input message="tns:executeInput" />
			<wsdl:output message="tns:executeOutput" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="DoubleItAsymmetricSAML2Binding" type="tns:DoubleItPortType">
		<wsp:PolicyReference URI="#DoubleItBindingAsymmetricSAML2Policy" />
		<soap:binding style="document"	transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="execute">
			<soap:operation soapAction="execute" />
			<wsdl:input>
				<soap:body use="literal" />
				<wsp:PolicyReference URI="#DoubleItBinding_DoubleIt_Input_Policy" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<wsp:PolicyReference URI="#DoubleItBinding_DoubleIt_Output_Policy" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="DoubleItService">
		<wsdl:port name="DoubleItAsymmetricSAML2Port" binding="tns:DoubleItAsymmetricSAML2Binding">
			<soap:address
				location="http://localhost:8082/doubleit/services/doubleitasymmetricsaml2" />
		</wsdl:port>
	</wsdl:service>

	<wsp:Policy wsu:Id="DoubleItBindingAsymmetricSAML2Policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<wsam:Addressing wsp:Optional="false">
					<wsp:Policy />
				</wsam:Addressing>
				<sp:AsymmetricBinding>
					<wsp:Policy>
						<sp:InitiatorToken>
							<wsp:Policy>
								<sp:IssuedToken
									sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
									<sp:RequestSecurityTokenTemplate>
										<t:TokenType>http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV2.0</t:TokenType>
										<t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/PublicKey</t:KeyType>
									</sp:RequestSecurityTokenTemplate>
									<wsp:Policy>
										<sp:RequireInternalReference />
									</wsp:Policy>
									<sp:Issuer>
										<wsaw:Address>http://localhost:8080/SecurityTokenService/
										</wsaw:Address>
										<wsaw:Metadata>
											<wsx:Metadata>
												<wsx:MetadataSection>
													<wsx:MetadataReference>
														<wsaw:Address>http://localhost:8080/SecurityTokenService/UT/mex
														</wsaw:Address>
													</wsx:MetadataReference>
												</wsx:MetadataSection>
											</wsx:Metadata>
										</wsaw:Metadata>
									</sp:Issuer>
								</sp:IssuedToken>
							</wsp:Policy>
						</sp:InitiatorToken>
						<sp:RecipientToken>
							<wsp:Policy>
								<sp:X509Token
									sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
									<wsp:Policy>
										<sp:WssX509V3Token10 />
										<sp:RequireIssuerSerialReference />
									</wsp:Policy>
								</sp:X509Token>
							</wsp:Policy>
						</sp:RecipientToken>
						<sp:Layout>
							<wsp:Policy>
								<sp:Lax />
							</wsp:Policy>
						</sp:Layout>
						<sp:IncludeTimestamp />
						<sp:OnlySignEntireHeadersAndBody />
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic256 />
							</wsp:Policy>
						</sp:AlgorithmSuite>
					</wsp:Policy>
				</sp:AsymmetricBinding>
				<sp:Wss11>
					<wsp:Policy>
						<sp:MustSupportRefIssuerSerial />
						<sp:MustSupportRefThumbprint />
						<sp:MustSupportRefEncryptedKey />
					</wsp:Policy>
				</sp:Wss11>
				<sp:Trust13>
					<wsp:Policy>
						<sp:MustSupportIssuedTokens />
						<sp:RequireClientEntropy />
						<sp:RequireServerEntropy />
					</wsp:Policy>
				</sp:Trust13>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	
	<wsp:Policy wsu:Id="DoubleItBinding_DoubleIt_Input_Policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:SignedParts>
					<sp:Body />
					<sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="AckRequested"
						Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
					<sp:Header Name="SequenceAcknowledgement"
						Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
					<sp:Header Name="Sequence"
						Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
					<sp:Header Name="CreateSequence"
						Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
				</sp:SignedParts>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="DoubleItBinding_DoubleIt_Output_Policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:SignedParts>
					<sp:Body />
					<sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="AckRequested"
						Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
					<sp:Header Name="SequenceAcknowledgement"
						Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
					<sp:Header Name="Sequence"
						Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
					<sp:Header Name="CreateSequence"
						Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
				</sp:SignedParts>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
</wsdl:definitions>
