sam/MonitoringService/MonitoringServiceWsImpl/src/main/webapp/WEB-INF/wsdl/MonitoringService_v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MonitoringService" targetNamespace="http://www.sopera.org/monitoring/MonitoringService/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.sopera.org/monitoring/MonitoringService/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="http://www.sopera.org/monitoring/MonitoringService/v1" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:fault="http://www.sopera.org/monitoring/2010/09/fault" xmlns:pref="http://www.sopera.org/monitoring/2010/09/common">
			<import namespace="http://www.sopera.org/monitoring/2010/09/common" schemaLocation="CommonTypes.xsd"/>
			<import namespace="http://www.sopera.org/monitoring/2010/09/fault" schemaLocation="FaultTypes.xsd"/>
				
			<element name="putEvents">
				<complexType>
					<sequence>
						<element maxOccurs="unbounded" minOccurs="1" name="event" type="pref:eventType"/>
					</sequence>
				</complexType>
			</element>

			<element name="fault" type="fault:faultType"/>

			<element name="putEventsResponse" type="pref:successType"/>
        </schema>
  </wsdl:types>
  <wsdl:message name="putEventsRequest">
    <wsdl:part name="parameters" element="tns:putEvents">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="putEventsFault">
    <wsdl:part name="fault" element="tns:fault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="putEventsResponse">
    <wsdl:part name="parameters" element="tns:putEventsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MonitoringService">
    <wsdl:operation name="putEvents">
      <wsdl:input message="tns:putEventsRequest">
    </wsdl:input>
      <wsdl:output message="tns:putEventsResponse">
    </wsdl:output>
      <wsdl:fault name="fault" message="tns:putEventsFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MonitoringServiceSOAP" type="tns:MonitoringService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="putEvents">
      <soap:operation soapAction="http://www.sopera.com/MonitoringService/v1/putEvents"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MonitoringService">
    <wsdl:port name="MonitoringServiceSOAP" binding="tns:MonitoringServiceSOAP">
      <soap:address location="http://localhost:8080/MonitoringServiceWsImpl/services/MonitoringServiceSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
