locator-proxy/locator-proxy-common/src/main/resources/model/locator-proxy-wadl/locator-proxy-schema/types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="unqualified"
	targetNamespace="http://service.proxy.rest.locator.esb.talend.org/types"
	xmlns="http://services.talend.org/locatorrestproxy/types" xmlns:wsa="http://www.w3.org/2005/08/addressing"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sl="http://talend.org/esb/serviceLocator/4.2"
	xmlns:lpx="http://service.proxy.rest.locator.esb.talend.org/types"
	xmlns:lps="http://service.proxy.rest.locator.esb.talend.org/">
	<xsd:import namespace="http://www.w3.org/2005/08/addressing"
		schemaLocation="http://www.w3.org/2005/08/addressing/ws-addr.xsd" />
	<xsd:element name="EndpointReferenceListType">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="return"
					nillable="false" type="wsa:EndpointReferenceType" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EndpointReferenceType" type="wsa:EndpointReferenceType">
	</xsd:element>

<!--	<xsd:element name="InterruptedExceptionFault" type="lpx:InterruptedExceptionFault" />-->
<!--	<xsd:complexType name="InterruptedExceptionFault">-->
<!--		<xsd:sequence />-->
<!--	</xsd:complexType>-->

<!--	<xsd:element name="ServiceLocatorFault" type="lpx:ServiceLocatorFault" />-->
<!--	<xsd:complexType name="ServiceLocatorFault">-->
<!--		<xsd:sequence />-->
<!--	</xsd:complexType>-->

	<xsd:element name="registerEndpointRequest" type="lpx:registerEndpointRequestType" />
	<xsd:complexType name="registerEndpointRequestType">
		<xsd:sequence>
			<xsd:element name="serviceName" type="xsd:QName" />
			<xsd:element name="endpointURL" type="xsd:anyURI" />
			<xsd:element name="properties" type="lpx:EntryType"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

<!--	<xsd:complexType name="SLPropertiesType">-->
<!--		<xsd:sequence>-->
<!--			<xsd:element name="Entry" type="lpx:EntryType" minOccurs="0"-->
<!--				maxOccurs="unbounded" />-->
<!--		</xsd:sequence>-->
<!--	</xsd:complexType>-->

	<xsd:complexType name="EntryType">
		<xsd:sequence>
			<xsd:element name="Value" type="xsd:string" minOccurs="1"
				maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="key" type="xsd:string" />
	</xsd:complexType>

<!--	<xsd:element name="lookupEndpointRequest" type="lpx:lookupRequestType" />-->
<!--	<xsd:element name="lookupEndpointsRequest" type="lpx:lookupRequestType" />-->
<!--	<xsd:complexType name="lookupRequestType">-->
<!--		<xsd:sequence>-->
<!--			<xsd:element name="serviceName" type="xsd:QName" />-->
<!--			<xsd:element name="matcherData" type="lpx:MatcherDataType"-->
<!--				minOccurs="0" maxOccurs="1" />-->
<!--		</xsd:sequence>-->
<!--	</xsd:complexType>-->

<!--	<xsd:complexType name="MatcherDataType">-->
<!--		<xsd:sequence>-->
<!--			<xsd:element name="Entry" type="lpx:AssertionType"-->
<!--				minOccurs="0" maxOccurs="unbounded" />-->
<!--		</xsd:sequence>-->
<!--	</xsd:complexType>-->

	<xsd:complexType name="AssertionType">
		<xsd:sequence>
			<xsd:element name="Value" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="key" type="xsd:string" />
	</xsd:complexType>

<!--	<xsd:element name="unregisterEndpointRequest" type="lpx:unregisterEndpointRequestType" />-->
<!--	<xsd:complexType name="unregisterEndpointRequestType">-->
<!--		<xsd:sequence>-->
<!--			<xsd:element name="serviceName" type="xsd:QName" />-->
<!--			<xsd:element name="endpointURL" type="xsd:anyURI" />-->
<!--		</xsd:sequence>-->
<!--	</xsd:complexType>-->

</xsd:schema>